*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: aqua;
    color: red; 
    border: 2px solid black;

    text-align: center;

}
p {
    background-color: black;
    color: white;
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}